<div class="text-center">
<h1>Edit User</h1>
<%= form_for @user do |f| %>
		<%= f.image_tag :Img_File  %><br>
	Username :<%= f.text_field :user_name %><br>
	Current City: <%= f.text_area :current_city %><br>
	About:	<%= f.text_area :about %><br>
	<%= f.submit "Update User" %>
<% end %>
</div>
