<% @users.each do |user| %>
<div class="text-center">
	Name: <%= user.user_name %> <br>
	about: <%= user.about %>
	<%= button_to "Delete", user, method: :delete %>
</div>
<% end %>


<% @posts.each do |post| %>
	<% if @posts == nil %>
		<%= p "No users to be found! wtf?" %>
	<% end %>
	<div>
		<%= post.user %>
	</div>
<% end %>