
<h1 class="text-center">Vagabond contributors</h1>

<% @users.each do |user| %>
<<<<<<< HEAD
	<div class="text-center">
		Name: <%= user.user_name %> <br>
		about: <%= user.about %>
		<%= button_to "Delete", user, method: :delete %>
	</div>
	<div class="text-center">
		<%= image_tag user.Img_File  %>
		Name: <%= user.user_name %> <br>
		about: <%= user.about %>
		<%= button_to "Delete", user, method: :delete %>
	</div>
<% end %>

=======

<div class="container">
	<div class="row">
		<div col-md-3 col-md-offset-3>
			<div class="well">
				<div class="pull-left">
				<%= image_tag user.Img_File  %>
				</div>
				<div class="text-center">
					<h2> <%= user.user_name %> </h2>
					Current city: <%= user.current_city %><br>
					About: <%= user.about %><br><br>
					<%= button_to "Delete", user, method: :delete %>
				</div> 
			</div>
		</div>
	</div>
</div>

<% end %>

>>>>>>> fc4cef16423202a415645f7baf2d193ac3ac9764
