<body class="splashpage">
<h1 class="text-center pageheader">Vagabond contributors</h1>

<% @users.each do |user| %>

<div class="container">
	<div class="row">
		<div col-md-3 col-md-offset-3>
			<div class="well">
				<div class="media">
					<div class="media-left pull-left">
						<%= image_tag user.Img_File, :class =>'media-object'  %>
					</div>
					<div class="media-body">
						<h3 class="media-heading"> <%= link_to user.user_name, user, method: :get %> </h3>
						<strong>Current city:</strong> <%= user.current_city %><br>
						<strong>About:</strong> <%= user.about %><br><br>
						<% if @user == true%>
						<%= button_to "Delete", user, method: :delete %>
						<% end %>
					</div> 
				</div>
			
			</div>
		</div>
	</div>
</div>

<% end %>
</body>