<div>
<%= form_for @user do |f| %>
	
	Username :<%= f.text_field :user_name %>
	Email: <%= f.text_field :email %>
	Password: <%= f.password_field :password %>
	Current City: <%= f.text_field :current_city %>
	About:	<%= f.text_area :about %>
	<%= f.submit "Save user" %>
<% end %>
</div>