
<div class="container">
	<div class="text-center">
		<h2>Add a New User</h2>
		<div class="row">
			<div col-md-4>
			</div>
			<div class="col-md-4 col-md-offset-4 well">

			<%= form_for @user do |f| %>
				
				<%= f.text_field :user_name, placeholder: "Username" %> <br>
				<%= f.text_field :email, placeholder: "Email" %><br>
				<%= f.password_field :password, placeholder: "Password" %><br>
				<%= f.text_field :current_city, placeholder: "Current City" %><br>
				<%= f.text_area :about, placeholder: "About" %><br>
				<%= f.submit "Save user" %>
			<% end %>
			</div>
		</div>
	</div>
</div>
