<div class="container">
	<div class="row">
		<br>
	</div>
	<div class="row text-center">
		
		<%= link_to image_tag @user.Img_File %>
		<br>
				<h2> <%= @user.user_name %></h2>
			Current City: <%= @user.current_city %><br>
			About Me: <%= @user.about %> <br>
			User since <%= @user.created_at %>
		</div>
		<br>
		<% @posts.each do |post| %>
		<div class=" well media-left">
			<h3 class="media-heading"><%= link_to post.title, post, method: :get  %></h3> 
			<div class="media-body"><%= post.content %> </div>
			
			Post created: <%= post.created_at %>
			<% if post.updated_at == true %>
				Edited at <%= post.updated_at %>

			<% end %>
			
		</div>
	<% end %>
	</div>
</div>

