<body class="<%= @city.CityImg %>">
<div class="container">
	<div class="row">
			<br>
	</div>
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">	
			<div class="text-center well">
			<h1>Edit Post</h1>

			<%= form_for(@post, url: city_post_path, action: :update) do |f| %>

				Title <br>
				<%= f.text_field :title %><br>
				Write your post here<br>
				<%= f.text_area :content %><br>
				<%= f.submit "Update Post"%><br>
				
			<% end %>

			<%= button_to "Delete", {action: "destroy", id: @post.id },
							method: :delete, data: {confirm: "Do you think the world will be a better place without this post?"} %>
							
			</div>
		</div>	
	</div>
</div>
</body>
