 <h1> This is the post/index page</h1>

<% if @posts.length == 0 %>
	<h2> <%= "No users to be found! wtf?" %> </h2>
<% else %>
<ol>
	<% @posts.each do |post| %>
		<li>
			Post: <%= post.content %> <br>
			Title: <%= post.title %> <br>
			Post id: <%= post.id %> <br>
			User: <%= post.user %>
		</li>
	<% end %>
</ol>
<% end %>
