
<div class="container">
	
		<h2 class="text-center">All Travel Tips</h2>
		<div class="row">
			<div col-md-4>
			</div>
			<div class="col-md-4 col-md-offset-4">
				<% if @posts.length == 0 %>
					<h2> <%= "No Posts here" %> </h2>
				<% else %>
				<div class="media">
				<% @posts.each do |post| %>
						<div class="well media-left">
							<h3 class="media-heading"><%= link_to post.title, "posts/#{post.id}"  %></h3> 
							<div class="media-body"><%= post.content %> </div>
								<strong>Author:</strong><%= link_to post.user, "/users/#{post.user}/posts" %> 
								<strong>Post created:</strong> <%= post.created_at %>
								<% if post.updated_at == true %>
									<strong>Edited at</strong> <%= post.updated_at %>
								<% end %>
							</div>
					<% end %>
					<% end %>
