 <div class="container">
  <div class="row">
 <div class="text-left well">
<h3><%= @post.title %> </h3>
<hr>
<p><%= @post.content %> </p>
written by user <%= link_to @post.user, "/users/#{@post.user}" %> PostID: <%= @post.id %>
<!-- if user doesn't have permission, these should be deactivated, 
	once it's working, I mean -->
	<% if @current_user.id.to_s == @post.user %>
		<%= button_to "EDIT", "/cities/#{@city.id}/posts/#{@post.id}/edit", method: :get %> <br>
	<% end %>
</div>
</div>
</div>

