<%= form_for @city do |f| %>
  <div>
    <%= f.text_field :name, placeholder: "Name" %>
  </div>
  <div>
    <%= f.number_field :lat_field, placeholder: "Latitude" %>
  </div>
  <div>
    <%= f.text_field :lng_field, placeholder: "Longitude" %>
  </div>
  <%= f.submit %>
<% end %>