
<div class="container">
	<div class="row">
		<br>
	</div>
	<div class="row text-center">
		
			<h2><%= @city.name %></h2>
			
				<h2> <%= @city.posts %></h2>
			<% @posts.each do |post| %>
			<div class="text-left  well">
		
			
			 <h3><%= post.title %> </h3>
			<p>Post: <%= post.content %> </p>
			<% var = User.find(post.user) %>
			Written by <%= link_to var.user_name, "/users/#{post.user}" %><br>
			PostID: <%= post.id %><br>
			
			<%= link_to "See full article", "#{@city.id}/posts/#{post.id}" %>
			

		
		</div>
	<% end %>
		</div>
	</div>
</div>
